@import 'tlacitka.css';
@import 'responzivita.css';


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
    max-width: 600px;
    margin: auto;
    padding:2rem;
    background-color: rgb(245, 241, 241);
    font-family: sans-serif;
    display: grid;

}

